body{
    background-color: #18181f;
}

#aboutUsContainer, #contactContainer{
    padding: 3rem 0 5rem 0;
    width: 100vw;
}
#contactContainer{
    background: url(../assets/background3.jpg);
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}
#contactContainer::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #18181f);
    pointer-events: none; /* Ensures the pseudo-element does not interfere with user interactions */
}
#contact{
    width: 80vw;
    display: grid;
    grid-template-areas: 
    "contactH2"
    "contactPar1"
    "socialsList";
    gap: 2rem;
    justify-content: center;
}
#contactH2{
    grid-area: contactH2;
    font-weight: 700;
    font-size: 4em;
    z-index: 1;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.contactParContainer h3{
    font-size: 4rem;
}

.contactPar{
    text-align: justify;
    max-width: 80%;
}
#socialsList a:not(#book){
    text-decoration: none;
    text-align: center;
    color: black;
}
#book{
    max-width: 30vw;
}
#contactPar1{
    grid-area: contactPar1;
}
#socialsList{
    grid-area: socialsList;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0;
    align-items: center;
}

.socialMedia{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.mailIcon{
    font-size: 2.5rem;
}

#aboutUs{
    width: 70vw;
    color: white;
    display: grid;
    grid-template-areas: 
    "aboutH2 aboutImgContainer"
    "aboutPar aboutImgContainer";
    gap: 2rem;
}

#aboutUsContainer{
    background-color: #18181f;
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutH2{
    grid-area: aboutH2;
    font-size: 3rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.aboutParContainer{
    grid-area: aboutPar;
    text-align: justify;
}
#aboutImgContainer{
    grid-area: aboutImgContainer;
    min-width: 40vw;
    height: 90%;
    align-self: center;
    position: relative;
    display: flex;
    align-items: end;
}
#aboutImg{
    width: 100%;
    height: auto;
}

#aboutBackground{
    max-width: 50%;
    position: absolute;
    bottom: -3rem;
    right: -6rem;
    animation: spinZ 10s linear infinite;
}

#webDevSparkle{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: white;
    cursor: pointer;

}
.sparkleSpan{
    animation: spinX 2s linear infinite;
}
.sparkleSpan:hover{
    color: #f2d3f4;
}
.webDevLink{
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    background-color: #f2d3f4;
    border-radius: 10px;
}
.webDevButtons{
    display: block;
}
.hidden{
    display: none;
}
.caret{
    display: none;
}

#webDevSparkle .material-symbols-outlined:hover{
    font-variation-settings: 'FILL' 1;
}
.socialsListLink:hover{
    color: rgb(99, 99, 99);
}

@keyframes spinX {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes socialsSelect {
    from {
        color: rgb(0, 0, 0);
    }
    to {
        color: rgb(99, 99, 99);
    }
}

@keyframes socialsDeselect {
    from {
        color: rgb(99, 99, 99);
    }
    to {
        color: rgb(0, 0, 0);
    }
}

@media screen and (max-width: 1300px){
    #aboutUs{
        width: 60vw;
        color: white;
        display: grid;
        grid-template-areas: 
        "aboutH2"
        "aboutPar"
        "aboutImgContainer";
        gap: 2rem;
        justify-content: center;
    }
    #aboutImgContainer{
        margin-top: 4rem;
        width: 50%;
        justify-self: center;
    }
}

@media screen and (max-width: 1100px) { 
    .contactPar{
        max-width: 100%;
    }
    #contact{
        width: 70vw;
    }
    #socialsList{
        width: fit-content;
    }
    #aboutImgContainer{
        grid-area: aboutImgContainer;
        width: auto;
        align-self: center;
        position: relative;
        margin-bottom: 2rem;
    }
    #aboutBackground{
        max-width: 30%;
        position: absolute;
        bottom: -2rem;
        right: -4rem;
    }
    #webDevSparkle{
        left: 1rem;
        bottom: 1rem;
        display: flex;
        align-items: end;
    }
    #aboutBackground{
        display: none;
        animation: none;
    }
}

@media screen and (max-width: 700px) { 
    #book{
        max-width: 60vw;
        font-size: 2rem;
        padding: 2rem 3rem;
    }
}

@media screen and (max-width: 600px) { 
    #book{
        font-size: 1.5rem;
        padding: 1.5rem 2.5rem;
    }
    #aboutUs{
        width: 90vw;
    }
    #contact{
        width: 90vw;
    }
    #aboutImgContainer{
        width: 90vw;
    }
    #socialsList, #socialsList li span{
        font-size: 2rem;
    }
    #socialsList{
        margin: 3rem 0 0 0;
    }
}
