body{
    background: url("../assets/temp2.jpg");
    background-size:cover;
    background-repeat: none;
}

#landingSection{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#landingVideo{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.nameStretch{
    width: 70%;
    height: 100%;
}
.landingAnimation{
    position: absolute;
    width: 20%;
    height: auto;
    animation: growShrink 7s ease infinite;
}

@media screen and (max-width: 700px) {
    .landingAnimation{
        width: 30%;
    }
}

@media screen and (max-width: 450px) {
    .landingAnimation{
        width: 35%;
    }
}
  
@keyframes growShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

/* Who are we section */
#whoAreWeContainer {
    width: 100vw;
    height: 20vh;
}

#whoAreWe {
    margin-top: 6rem;
    width: 100vw;
    height: fit-content;
    display: none; 
    justify-content: center;
    background-color: aliceblue;
    padding: 3rem 0;

}

#whoAreWe section {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "h2-1"
        "h2-2"
        "h2-3"
        "h2-4";
    font-size: 5rem;
    position: relative;
}

#whoAreWe{
    animation: fadeIn linear;
    animation-timeline: view();
}

@keyframes fadeIn{
    from {scale: .8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}


#whoAreWe h2{
    width: 100%;
    margin: 0.3rem 0;
}
.h2-1{
    grid-area: h2-1;
    font-family: Arial, Helvetica, sans-serif;
}
.h2-2{
    grid-area: h2-2;
    text-align: end;
    font-family: NSimSun;
}
.h2-3{
    grid-area: h2-3;
    font-family: Arial, Helvetica, sans-serif;
}
.h2-4{
    grid-area: h2-4;
    text-align: end;
    font-family: NSimSun;
}
.bgText{
    position: fixed;

}
