/*
font-family: "franklin-gothic-atf", sans-serif;
font-weight: 700;
font-style: normal;

Skye Blue: #88CaE7
Hot Pink: #F865B0
Indigo Dye: #0A5270
Russian Violet: #3D2F60
Rich Black: #0D111C
*/
body{
    background-color: #efefef;
}

#landingSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}
#landingVideo{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#nameStretch{
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: -1;
    transition: transform 0.1s ease;
}
.landingAnimation{
    position: absolute;
    width: 20%;
    height: auto;
    animation: growShrink 7s ease infinite;
}
  
@keyframes growShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

/* Who are we section */
#whoAreWeContainer {
    width: 100vw;
    height: 20vh;
}

#whoAreWe {
    padding-top: 6rem;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 3rem 0;
    border: 1px solid rgb(0, 0, 0, 0.4);
    animation: fadeInFixedWidth ease 1s;
    border-radius: 15px 15px 0 0
}
.card{
    background-color: rgb(236, 236, 236);
    padding: 3rem 0;
    border: 1px solid rgb(0, 0, 0, 0.4);
    width: 100vw;
    height: 70vh;
    border-radius: 15px 15px 0 0;
    margin-top: -15px;
}
#sectionCard{
    display: grid;
    grid-template-areas:  
    "sectionH2 sectionPar1 sectionPar2"
    "sectionH2 sectionPar1 sectionPar2"
    "sectionH2 sectionPar1 sectionImgContainer"
    ;
    gap: 3rem;
    width: 90%;
    position: relative;
}
.sectionContainer{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}
#sectionH2{
    grid-area: sectionH2;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 700;
    font-size: 5em;
    z-index: 1;
}
#sectionPar1{
    grid-area: sectionPar1;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;

}
#sectionPar2{
    grid-area: sectionPar2;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}
#sectionImgContainer{
    grid-area: sectionImgContainer;
    max-width: 100%;
    max-height: auto;
}
#sectionImg{
    width: 100%;
    height: auto;
}
#sectionBackground{
    position: absolute;
    z-index: 0;
    opacity: 0.7;
    width: 30%;
    height: 90%;
}
#sectionCard div h3{
    font-size: xx-large;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 700;
}

@keyframes changeFont {
    0% { font-family: NSimSun; }
    14.28% { font-family: 'Times New Roman', serif; }
    28.56% { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    42.84% { font-family: 'Georgia', serif; }
    57.12% { font-family: 'Courier New', monospace; }
    71.4% { font-family: 'Arial Narrow', Arial, sans-serif; }
    85.68% { font-family: monospace; }
}

#everyAnimation{
    animation: changeFont 6s infinite;
}

#whoAreWe section {
    width: 50%;
    min-width: fit-content;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "h2-1"
        "h2-2"
        "h2-3"
        "h2-4";
    font-size: 3.5rem;
    position: relative;
}

#whoAreWeImgContainer{
   width: 40%;
   min-width: 300px;
   height: 100%; 
   border-radius: 20px;
   overflow: hidden; /* Hide overflowing content */
   position: relative;
}
#whoAreWeImgContainer:hover{
    background-color: #efefef;
}

.grayHoverAnimation{
    animation: hoverGray 1s;
}

.grayHoverAnimationEnd{
    animation: hoverGrayEnd 1s;
}

@keyframes hoverGray {
    from { background-color: white;}
    to {background-color: #efefef;}
}

@keyframes hoverGrayEnd {
    from { background-color: #efefef;}
    to {background-color: white;}
}



.whoAreWeImg{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#landingSection{
    animation: fadeInFixedWidth ease 1s;
}

@keyframes fadeIn{
    from {scale: .8; opacity: 0; transform: translateY(-20%);}
    to {scale: 1; opacity: 1; transform: translateY(0);}
}

@keyframes fadeInFixedWidth{
    from {height: .8; width: 100vw; opacity: 0; transform: translateY(-20%);}
    to {height: 1; width: 100vw; opacity: 1; transform: translateY(0);}
}


#whoAreWe h2{
    width: 100%;
    margin: 0.4rem 0;
    transform: rotateX(20deg) rotateY(-20deg);
}
.h2-1{
    grid-area: h2-1;
    font-family: Arial, Helvetica, sans-serif;
}
.h2-2{
    grid-area: h2-2;
    font-family: NSimSun;
    transform: rotateX(20deg) rotateY(-20deg);
}
.h2-3{
    grid-area: h2-3;
    font-family: Arial, Helvetica, sans-serif;
}
.h2-4{
    grid-area: h2-4;
    font-family: NSimSun;
    height: 3ch;
}
.bgText{
    position: fixed;
}

.button{
    padding: 1rem 2rem;
    display: block;
    text-decoration: none;
    color: white;
    background-color: #0D111C;
    border-radius: 10px;
    width: fit-content;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 700;
}
.button:hover{
    background-color: #88CaE7;
    color: #0D111C;
}

.sectionCarousel {
    display: flex; /* Display slides in a row */
    transition: transform 0.5s ease; /* Smooth transition effect */
}

.sectionCarouselSlide {
    flex: 0 0 100%; /* Each slide takes full width */
    /* Optionally, add additional styling like padding or margin */
}

.sectionCarouselNav{
    position: absolute;
    z-index: 1;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.sectionPrev{
    left: 0;
}
.sectionNext{
    right: 0;
}

.sectionCarouselSlide img {
    width: 100%; /* Ensure images fill their parent container */
    display: block; /* Remove default inline-block spacing */
}

#mouseOverlay{
    display: block;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 3rem;
    font-variation-settings: 'FILL' 1;
}


@media screen and (max-width: 4000px) {
    #sectionImgContainer{
        max-width: 60%;
        max-height: auto;
        justify-self: center;
    }
}
@media screen and (max-width: 1100px) {
    #landingVideo{
        top: 20vh;
    }
    #whoAreWeImgContainer{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    #sectionCard{
    grid-template-areas:  
    "sectionH2"
    "sectionPar1"
    " sectionPar2" 
    "sectionImgContainer";
    width: 70%;
    justify-content: center;
    }
    #sectionH2{
        text-align: center;
    }
    #sectionPar1{
        z-index: 1;
    }
    #sectionBackground{
        width: auto;
        height: 100%;
        opacity: 0.2;
        justify-self: center;
    }
    #sectionImgContainer{
        max-width: 50%;
        height: auto;
        justify-self: center;
    }
}

@media screen and (max-width: 900px) {
    #whoAreWeImgContainer{
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    #sectionH2{
        text-align: left;
    }
    #sectionCard{
        width: 90%;
    }
    .landingAnimation{
        width: 30%;
    }
    #landingVideo{
        top: 40vh;
    }
    #whoAreWe h2{
        font-size: 0.8em;
    }
    #whoAreWeImgContainer{
        width: 60%;
    }

}

@media screen and (max-width: 450px) {
    .landingAnimation{
        width: 35%;
    }
    #nameStretch{
        height: 50%;
    }
    #landingVideo{
        top: 45vh;
    }
    #whoAreWe section h2{
        font-size: 0.7em;
    }
}
