.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-height: fit-content;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
    will-change: transform;
}

.modal::after{
    position: absolute;
    z-index: 3;
    content: '';
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0));
    pointer-events: none;
}
.modal::before{
    position: absolute;
    z-index: 3;
    content: '';
    left: 0;
    top: -50px;
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0));
    pointer-events: none;
}

/* Modal content */
.outerModal {
    background-color: #efefef;
    margin: 120px auto; /* 15% from the top and centered */
    background: rgba(0, 0, 0, 0.1); 
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 10px 0 1px 0;
    border-radius: 5px 5px 0 0;
    /* Adjust this gradient if modal is too glassy...*/ 
    background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0.2) 10%);
}

#modalNav{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.outerModal:before{
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px 5px 0 0;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .outerModal{
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: saturate(180%) blur(10px);
    }
}

#modalTitle{
    font-family: Horizon;
    position: absolute;
    left: 1rem;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px black;
}

.innerModal{
    padding: 10px;
    min-width: fit-content;
    height: fit-content;
    max-width: 90vw;
}
#modalText{
    grid-area: modalText;
}
.modalContent{
    background-color: white;
    margin: 1rem;
    border: inset rgba(163, 163, 163, 0.295) 2px;
    display: grid;
    grid-template-areas: 
    "carousel modalText";
    max-width: 90vw;
}

.grayBorder{
    background-color: #efefef;
    padding: 5px;
}

/* carousel */

.carousel {
    grid-area: project;
    display: flex; /* Display slides in a row */
    transition: transform 0.5s ease; /* Smooth transition effect */
}

#carousel{
    display: flex; /* Display slides in a row */
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 100%; /* Each slide takes full width */
    /* Optionally, add additional styling like padding or margin */
}

.carousel-slide > *{
    min-width: auto;
    max-width: 500px;
    min-height: 500px;
    max-height: 75vh;
    height: auto;
}

.carouselNav{
    z-index: 2;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color: white;
}
.prev{
    grid-area: prev;
}
.next{
    grid-area: next;
}

.carousel-slide img, .carousel-slide video {
    width: 100%;
    display: block; 
}
.modalImgContainer{
    overflow: hidden;
}

#modalH3{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 2rem;
}
#modalPar{
    padding: 0 0 2rem 0;
    width: 90%;
    margin: auto;

}
.caret{
    height: 0.8em;
    margin-left: 0.7ch;
    border-right: .15em solid black;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


.modalBtn{
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    background: linear-gradient(140deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.0) 100%);
}
.modalBtn:before{
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
#modalClose{
    margin-right: 1rem;
    background-color: #bb164a;
}

#modalImgContainer{
    grid-area: carousel;
    overflow-x: hidden;
}
#modalImgSection{
    display: flex;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    width: 700px;
    min-height: fit-content;
}

.carousel-slide{
    width: 500px;
}
#modalImgContainer{
    width: fit-content;
}

.carousel-slide {
    flex: 0 0 100%; /* Each slide takes full width */
    display: flex;
    justify-content: center;
}

.carousel-slide img, .carousel-slide video {
    width: 100%;
    display: block;
    object-fit: cover; /* Ensures the image covers the entire slide */
}

.carousel-paragraph{
    margin-top: 1rem;
}

/* Keyframes are animations that usually don't need JavaScript */
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

/* Media queries adjust the styling for different screen sizes. 
Mine are based on the width of the screen. 
For example: "@media screen and (max-width: 1100px)" includes styling that will only be applied for screens with a width BELOW 1100px width. 
*/
@media screen and (max-width: 1100px) { 
    #modalImgSection{
        width: 90%;
        height: auto;
        margin: auto;
    }
    .modalContent{
        background-color: white;
        margin: 1rem;
        border: inset rgb(163, 163, 163) 2px;
        display: grid;
        grid-template-areas: 
        "carousel"
        "modalText";
    }
    .carousel-slide > *, .carousel-slide {
        max-width: 80%;
        max-height: auto;
    }
    .carousel-slide > * {
        min-width: 200px;
        min-height: 200px;
    }
    #carousel{
        width: 100%;
        transition: transform 0.5s ease;
    }
    .carouselNav{
        padding: 0 5px;
    }
    #modalImgContainer, .carousel-slide{
        max-width: 100%;
        max-height: auto;
    }
}
@media screen and (max-width: 700px) {
    .innerModal{
        width: 80vw;
    }
    .carousel-slide > *, .carousel-slide {
        max-width: 100%;
        max-height: auto;
    }
}

@media screen and (max-width: 500px) {
    .innerModal{
        width: 90vw;
    }
    .modalContent{
        margin: 1ch;
    }
    .carousel-slide > * {
        min-width: 100px;
        min-height: 100px;
    }
}
