body{
    background-color: rgb(42, 42, 42);
    overflow-x: hidden;
}
.canvasCard{
    background-color: rgb(42, 42, 42);
    border: 1px solid rgb(0, 0, 0, 0.4);
    width: 100vw;
    height: 90vh;
    border-radius: 15px 15px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    display: block;
    z-index: 1;
}
#canvasH2{
    position: absolute;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 700;
    font-size: 5em;
    color: white;
    z-index: 0;
    max-width: 95%;
    text-align: center;
}
#moreInfo{
    position: absolute;
    bottom: 3rem;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#moreInfo h3{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 700;
    font-size: 1em;
}
#arrowDown{
    margin-top: 1rem;
}
.floatUpDown{
    animation: floatUpDown 2s infinite ease-in-out;
}
.fadeIn{
    animation: fadeIn 2s;
}
@keyframes floatUpDown {
    0% { margin-bottom: 0;}
    50% {margin-bottom: 1rem;}
    100% { margin-bottom: 0;}
}

@keyframes fadeIn {
    from {  opacity: 0; }
    to { opacity: 1; }
}

.card{
    background-color: #efefef;
    padding: 3rem 0;
    border: 1px solid rgb(0, 0, 0, 0.4);
    width: 100vw;
    border-radius: 15px 15px 0 0;
    margin-top: -15px;
    position: relative;
    z-index: 1;
}
.projectsH2{
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
}
.projectsH3{
    font-size: 3rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    margin: 4em 0 2rem;
    font-family: NSimSun;
    text-decoration: none;
    color: black;
}

.projectsPar, .text{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}
.projectsH3 a {
    text-decoration: none;
    color: inherit;
}
.projectsPar{
    width: 60%;
    margin-bottom: 2rem;
    text-align: left;
}
.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectsGroup{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90vw;
    gap: 2rem 15px;
}

.projectDiv{
    width: 30%;
    height: auto;
}
.showcase{
    height: 100%;
    width: auto;
}
.projectDiv{
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    &:hover {
        top: calc( 50% - 2px );
        border: 1px solid rgba(#F2F4F8, 0);
        box-shadow: 0 15px 20px rgba(0,0,0,.05), 0 0 5px rgba(0,0,0,.4);
        cursor: pointer;
      }
      
      &:active {
        top: 50%;
        box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 0 2px rgba(0,0,0,.5);
        transition: ease-in-out .1s;
      }
}
.project{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}
.projectDiv{
    width: 30vw;
    height: 30vw;
    overflow: hidden;
}
.reviewGroup{
    margin: 10rem 0 2rem 0;
    display: flex;
    width: 90vw;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.reviewH3, .textH2{
    grid-area: sectionH2;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 700;
    font-size: 5em;
}
.textGroup{
    margin-top: 10rem;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}
.text{
    width: 50%;
    text-align: justify;
    min-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text p{
    max-width: 90%;
}
.showcaseImgContainer{
    width: 40%;
    height: auto;
    min-width: 400px;
    max-height: 400px;
}
.showcase{
    width: 100%;
    height: auto;

}
.reviewVid, .videoShowcase{
    width: 40%;
    height: 400px;
}
.showcaseImgContainer{
    display: flex;
    justify-content: center;
}
.textGroupReverse{
    flex-wrap: wrap-reverse;
}

.contactCard{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: white;
}
.contactContent{
    width: 80vw;
    display: flex;
    place-items: center;
    flex-direction: column;
    padding: 4rem;
}
.contactContent h2{
    font-size: 4rem;
    font-family: NSimSun;
    margin-bottom: 2rem;
    animation: changeFont 10s infinite;
    text-align: center;
}

@media screen and (max-width: 1300px){
    .reviewH3{
        width:fit-content;
        text-align: center;
    }
    .reviewVid, .videoShowcase{
        width: 50%;
        min-height: 500px;
    }
}
@media screen and (max-width: 950px){
    .text{
        width: 90%;
    }
}
@media screen and (max-width: 850px){
    .projectsGroup{
        gap: 2rem 10px;
    }
    .reviewVid, .videoShowcase{
        width: 100%;
        min-height: 400px;
    }
}

@media screen and (max-width: 750px){
    .projectsPar{
        text-align: justify;
    }
}

@media screen and (max-width: 700px){
    .projectsGroup{
        width: 95vw;
        gap: 1rem;
    }
    .showcase {
        width: 85%;
        height: auto;
    }
}

@media screen and (max-width: 550px){
    .projectsGroup{
        gap: 1rem;
    }
    .reviewH3{
        font-size: 3rem;
    }

}

@media screen and (max-width: 450px){
    .projectsGroup{
        gap: 5px;
    }
    .projectsPar{
        width: 90%;
        text-align: justify;
    }
}
