*{
    margin: 0;
    padding: 0;
}
/* Header */
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbarLine{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbarOptionsContainer, .navbarLine{
    margin: 5px 0;
}
.navbarLogoContainer{
    margin: 5px 5px;
}
header{
    height: 100px;
    width: 100vw;
    background-color: black;
    color: white;
}
nav{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}
.navbarOptionsContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navbarOptions{
    display: flex;
    justify-content: space-around;
}
.navbarOptions > *{
    margin: 0 10px;
}

.navbarOptions a, .navbarCompanyName{
    font-size: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.navbarLogoContainer{
    background-color: red;
    width: 80px;
    height: 80px;
}
.navbarLine{
    width: 100%;
}
.navbarLines{
    height: 3px;
    background-color: white;
}
.leftLine{
    width: 10ch;
    margin-right: 5px;
    flex-grow: 1;
}

.rightLine{
    width: 80vw;
    margin-right: 5px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.burgerMenu{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
.navbarLogo{
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin-left: 5px;
    display: none;
}
.navbar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
#burgerExpanded{
    width: fit-content;
    height: 100vh;
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: none;

}
.burgerOptions{
    display: flex;
    flex-direction: column;
}
.burgerLink{
    margin: 1rem 4rem;
    font-size: xx-large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.burgerOptions > *{
    margin: 1rem 0;
}
.burgerLinkLine{
    width: 100%;
    height: 1px;
    background-color: rgb(54, 54, 54);
}

.burgerClose{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px;
    cursor: pointer;
    font-size: xx-large;
}
.burgerOpenAnimation{
    animation: burgerOpen 1s ease-in-out;
}
.burgerCloseAnimation{
    animation: burgerClose 1s ease-in-out;
}
#burgerShowcase{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
    animation: spinZ infinite 4s ease-in-out;
}

@media screen and (max-width: 700px) {
    .navbarLogo, .burgerMenu{
        display: block;
    }
    .navbarLogoContainer, .navLink, .navbarCompanyName{
        display: none;
    }
    .navbarOptionsContainer{
        align-items: flex-end;
    }
    .leftLine{
        margin-right: 5px;
    }
}
@media screen and (max-width: 450px) {
    #burgerExpanded{
        width: 100vw;
    }
}

@keyframes burgerOpen {
    from {
        transform: translateX(100%);
      }
    
      to {
        transform: translateX(0%);
      }
}

@keyframes burgerClose {
    from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(100%);
      }
}
@keyframes spinZ {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}